/* Font Stuff */
@font-face {
    font-family: "P22 Johnston Underground Regular";
    src: url(P22JohnstonUndergroundRegular.otf) format("opentype");
}
p { 
    font-family: "P22 Johnston Underground Regular";
    font-size: 300%;
    color: #ffffff;
}
p.twcenmtred { 
    font-family: "P22 Johnston Underground Regular";
    color: #D00000;
}
p.twcenmtlightgray { 
    font-family: "P22 Johnston Underground Regular";
    color: #A4A4A4;
}
p.bold { 
    font-weight: bold;
}
p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}
/* Background Image */
body {
    background-image: url("assets/images/background/background.jpg");
    background-color: #000000;
    background-position: 0%;
}
