/* Font Stuff */
@font-face {
    font-family: "P22 Johnston Underground Regular";
    src: url(P22JohnstonUndergroundRegular.otf) format("opentype");
}
p.header{ 
    font-family: "P22 Johnston Underground Regular";
    font-size: 500%;
    color: #ffffff;
    text-align: center;
    line-height: 120%;
}
p.secondary { 
    font-family: "P22 Johnston Underground Regular";
    font-size: 300%;
    color: #ffffff;
    text-align: center;
    line-height: 120%;
}
a.secondary-link { 
    font-family: "P22 Johnston Underground Regular";
    font-size: 100%;
    color: #ffffff;
    line-height: 120%;
}
p.twcenmtlightgray { 
    font-family: "P22 Johnston Underground Regular";
    color: #A4A4A4;
}
p.bold { 
    font-weight: bold;
}
p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}
/* Background */
body {
    background-image: url("assets/images/background/background.jpg");
    background-color: #000000;
    background-position: 0%;
}
/* Centre */
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Link Colors */
	/* unvisited link */
    a:link {
        color: #FFDA20;
    }
    /* visited link */
    a:visited {
        color: #FFDA20;
    }
    /* mouse over link */
    a:hover {
        color: #FFDA20;
    }
    /* selected link */
    a:active {
        color: #FF0000;
    }
